<!DOCTYPE html>
<html>
<head><title>Contact</title></head>
<body>
  <nav><a href="/">Home</a> | <a href="/events">Events</a> | <a href="/contact">Contact</a></nav>
    <h1>Contact Us</h1>

    <!-- Link the image using url_for -->
    <p>Email: info@example.com</p>
  <style>
        body {
            background-image: url("{{ url_for('static', filename='image/shiva.jpg') }}");
            /* Optional CSS properties for the background image */
            background-repeat: no-repeat; /* Prevents the image from repeating */
            background-size: cover;       /* Stretches the image to cover the entire page */
        }
    </style>
</body>
</html>
